body { 
    background-color: #f8f9fa;
    display: flex; 
    min-height: 100vh; 
}
#menu { width: 250px; 
    background-color: #343a40; 
    color: white; 
    padding-top: 2rem; 
}
#menu a { 
    color: white; 
    display: block; 
    padding: 1rem; 
    text-decoration: none; 
}
#menu a:hover {
     background-color: #495057; 
    }
#contenido { 
    flex-grow: 1;
     padding: 2rem; 
    }


.container {
    max-width: 1200px;
}

.table-responsive {
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.action-buttons .btn {
    margin: 0 3px;
    padding: 0.25rem 0.5rem;
    font-size: 0.875rem;
}

.modal-content {
    border-radius: 10px;
}

.form-control, .form-select {
    border-radius: 5px;
}
